
/*1280px 1024px 768px 320px*/

/* @media screen and (min-width: 1024px) and (max-width: 1279px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 320px) and (max-width: 767px) {} */


/*gallery*/



/*places*/

.places {
	margin: 0 auto;
	max-width: 984px;
	display: grid;
	gap: 80px;
	padding-top: 92px;
	padding-bottom: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.places {
		max-width: 928px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.places {
		max-width: 720px;
		padding-top: 88px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.places {
		max-width: 320px;
		padding-top: 64px;
		padding-bottom: 64px;
	}
}

.place {}

.place__header {
	margin: 0;
	font-family: 'Inter', Arial, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 72px;
	line-height: 76px;
}

.place__site {}

.place__url {
	margin: 0;
	font-family: 'Inter', Arial, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 72px;
	line-height: 76px;
	color: #AAAAAA;
}

.place__link {
	font-family: 'Inter', Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
}

.place__text {
	margin: 0;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 163%;
}


/*baikal*/

.baikal {}

.baikal__link {}

.baikal__title {
	margin: 0;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
}

.baikal__subtitle {
	margin: 0;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}


/*footer*/

.footer {}

.footer__links {
	list-style: none;
}

.footer__link {
	margin: 0;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}

.footer__author {
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}