.baikal {
	background-repeat: no-repeat;
	position: relative;
	background-image: url(../../images/cover-trains.jpg);
	background-size: cover;
	width: 1184px;
	height: 740px;
	margin: 0 auto;
	position: relative;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.baikal {
		width: 1024px;
		max-height: 640px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.baikal {
		max-width: 768px;
		max-height: 480px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.baikal {
		max-width: 320px;
		max-height: 200px;
	}
}