.place {
	padding: 40px 0;
	display: grid;
	grid-template-columns: 460px 1fr;
	grid-template-rows: 1fr;
	grid-gap: 48px 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.place {
		grid-template-columns: 460px 1fr;
		grid-gap: 48px 32px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.place {
		grid-template-columns: 340px 1fr;
		grid-gap: 48px 28px;
		padding: 36px 0px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.place {
		grid-template-columns: minmax(288px, 1fr);
		grid-gap: 32px;
		padding: 24px 0px;
		margin-left: 0;
		margin-right: 0;
		}
}