.footer__author {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.footer__author {
		font-size: 14px;
		line-height: 16px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.footer__author {
		font-size: 14px;
		line-height: 14px;
	}
}