.place__text {
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 163%;
	margin-bottom: 24px;
}

.place__text:last-of-type {
	margin-bottom: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.place__text {
		font-size: 16px;
		line-height: 26.08px;
	}
}