.footer__link {
	padding-right: 18px;
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	font-size: 16px;
	line-height: 18px;
	transition: opacity .3 ease;
}

.footer__link:last-of-type {
	margin-left: 0px;
}

.footer__link:hover {
	opacity: .8;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.footer__link {
		margin-bottom: 32px;
		margin-right: 0px;
		font-size: 24px;
		line-height: 24px;
	}
}