.footer__links {
	margin: 0;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
	transition: opacity 0.3s ease;
}

.footer__links:hover {
	transition: opacity 0.8s ease;
}