.footer__links {
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
	transition: opacity .3s ease;
	list-style-type: none;
	display: flex;
	padding-right: 18px;
	padding: 0;
}

.footer__links:hover {
	transition: opacity .8s ease;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.footer__links {
		flex-direction: column;
		font-size: 24px;
	}
}