.baikal__subtitle {
	margin: 0 auto;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	z-index: 9;
	padding: 0;
	max-width: 360px;
	color: #FFFFFF;
	text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.baikal__subtitle  {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 16px;
		max-width: 288px;
	}
}